html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#bg {
  background-image: url("images/image8.jpg");
  height: 100%;
  background-size: cover;
}
#top_div {
  margin-top: 0px;
  margin-left: 0px;

  height: auto;
  width: 100%;
  box-shadow: #5f5f5e;
  text-align: center;
}

#drift-header {
  color: white;
  font-family: "Pacifico", cursive;
}

#drift-button {
  color: black;
  border: 0px;
  size: 18px;
  background: rgb(255, 255, 255, 0.8);
  font-family: "Pacifico", cursive;
  width: 98%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.jumbotron {
  margin-bottom: 0;
  background-color: transparent;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.col-sm-10 {
  text-align: center;
}

input {
  margin: 10px auto;
}

.invalid {
  border-color: #d10c0c;
  background-color: #ff9191;
}
.weather {
  width: 100%;
}

.days {
  float: left;
  width: 20%;
  color: white;
  height: auto;
  text-align: center;
  margin-top: 10px;
  background: rgb(0, 0, 0, 0.7);
}
.smalldisplay {
  text-align: center;
}

#bottom_div {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

#cards {
  width: 100% auto;
  text-align: center;
}
#lead {
  font-weight: bold;
}
#cardholder {
  height: 450px;
  width: 100%;
  overflow: auto;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  #cardholder {
    height: 250px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
  }

  #cards {
    height: 250px;
    overflow: auto;
    margin-left: 10px;
  }
}
body {
  overflow: hidden;
}
.slide-in-blurred-top {
  text-align: center;
}

.header {
  color: white;
  background: rgb(0, 0, 0, 0.8);
  margin-bottom: 10px;
  height: 20px;
}

.image {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 1.5s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* .ui:hover {
  box-shadow: 0 10px #5f5f5e;
  top: 2px;
}

.ui:active {
  box-shadow: 0 0 #5f5f5e;
  top: 6px;
} */

.slide-in-top {
  -webkit-animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
